---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources: []

generators:
- |-
  apiVersion: viaduct.ai/v1
  kind: ksops
  metadata:
    name: infra
    annotations:
      config.kubernetes.io/function: |
        exec:
          path: ksops
  files:
  - ./secret-iscsi-chap.enc.yaml 
