---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dex

resources:
- certificate-dex.yaml
- gateway-dex.yaml
- httproute-dex.yaml

generators:
- |-
  apiVersion: viaduct.ai/v1
  kind: ksops
  metadata:
    name: dex
    annotations:
      config.kubernetes.io/function: |
        exec:
          path: ksops
  files:
  - ./secret-dex-env.enc.yaml 
  - ./secret-config.enc.yaml
