---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dex

resources:
- certificate-dex.yaml
- gateway-dex.yaml
- httproute-dex.yaml
- secret-dex-env.yaml 
- secret-config.yaml
